.material-icons {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@keyframes Bounce {
  0% { transform: translateY(0); opacity: 0; }
  25% { transform: translateY(-6px); }
  50% { transform: translateY(0px); }
  75% { transform: translateY(-2px); }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes JumpIn {
  0% { transform: translateY(100%); }
  50% { transform: translateY(0); }
  75% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

@keyframes JumpInFromLeft {
  0% { transform: translateX(100%); }
  50% { transform: translateX(0); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

@keyframes JumpInFromRight {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}